
<b>비 _ 폴킴 </b><br>
비가 내리다 말다<br>
우산을 챙길까 말까<br>
tv엔 맑음이라던데<br>
네 마음도 헷갈리나봐<br>

비가 또 내리다 말다<br>
하늘도 우울한가봐<br>
비가 그치고나면<br>
이번엔 내가 울것만같아<br>

<b>후렴</b>
Strumming down to my memories<br>
지직거리는 라디오에선<br>
또 뻔한 love song<br>
잊고있던 아픈 설레임<br>
널 생각나게해<br>

우리 걷던 이길위에<br>
흘러나오던 멜로디 <br>
흥얼거렸었지 넌 어디있니<br>
하늘은 이렇게 맑은데<br>
비에 젖은 내 마음을<br>
따뜻하게도 비춰주던 너는<br>
나에게 햇살같아<br>
그런널 왜 난 보냈을까<br>
Good bye<br>

<b>후렴2</b>
So hard to lose but easy to repeat<br>
푹 숙인 얼굴 날 알아봤을까<br>
I'm losing my breathe<br>
잊고싶은 아픈 기억들<br>
날 더 힘들게해<br>

시간가는 줄도 모르고<br>
나눴던 수많은 밤과 사랑노래<br>
꿈보다 달콤했지<br>
쉽게 포기한건아닌지<br>
우연히널 마주친 순간<br>
내 마음 들킬까봐 뒤돌아섰어<br>
널 잡았다면<br>
그런 널 왜 난 보냈을까 <br>
Good bye<br>

우리 걷던 이길위에<br>
흘러나오던 멜로디 <br>
흥얼거렸었지 넌 어디있니<br>
하늘은 이렇게 맑은데<br>
비에 젖은 내 마음을<br>
따뜻하게도 비춰주던 너는<br>
나에게 햇살같아<br>
그런널 왜 난 보냈을까<br>
Good bye<br>

<!-- 이건 수정용 글입니다. -->

<a href="{% url 'song' %}">about</a>
<form action="{% url 'joo' %}">
    <textarea cols="40" rows="10"
    name="fulltext"></textarea>
    <br>
    <input type="submit"
    value="이잉 너무 쎼게 누르지망 ㅠㅠ"/>
</form>